body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;

}
header{
	background-color: #CCCCFF;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
h1{
	font-family: 'Prata', serif;
}
header h1{
	color: white;
	font-size: 64px;
	font-weight: 400;
}
header img{
	border-radius: 170px;
	width: 445px;
	border: 15px solid #4C118A;

}

main{
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 0 20px 20px 20px;
	}
main img{
	max-width: 100%;
}
h2{
	font-size: 35px;
	color: #6495ED;
}